/* Write your CSS here! */
.primary-content {
  display: grid;
  grid-template-columns: 2fr 200px 600px;
  grid-template-rows: 500px auto;
}
/* Do not change the CSS below. */


.header {
  background: #4242ea;
 height: 120px;
}

.logo img {
  height: 60px;
  margin: 15px 0 0 15px;
  width: auto;
}

.menu ul {
  text-align: center;
  
}

.menu ul li {
  display: inline-block;
}

.menu a {
  color: white;


}

.sidebar {
  background: black;
  text-align:center;
}

.sidebar p {
  color: white;
}


.main {
  background: #ececec;
  text-align: center;
  width: 900px
  
}

.footer {
  background: yellow;
  padding: 10px;
  text-align: center;
}
